# ddddd
#
#

name: python-script

on:
  schedule:
    - cron: "0 4 * * */2,*/4" # Runs at 00:00 UTC everyday

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository content to github runner.
      # https://github.com/actions/checkout
      - name: Check out repository
        uses: actions/checkout@v4

      # https://github.com/actions/setup-python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          # python-version-file: '.python-version'

      - name: Lock UV dependencies
        run: uv lock

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      # Run the run.py to get the latest data
      - name: Execute Script
        run: |
          python ./tjsp/update.py

      # Git Add and Commit
      - name: commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit -m "Update Data using GitAction" -a

      # Git Push
      - name: push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.API_TOKEN_GITHUB }}
          branch: ${{ github.ref }}
# References
# https://github.community/t/how-to-setup-github-actions-to-run-my-python-script-on-schedule/18335/2
# https://canovasjm.netlify.app/2020/11/29/github-actions-run-a-python-script-on-schedule-and-commit-changes/
